* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-color: @col-db;
  h1 {
    text-align: center;
    font-size: 6rem;
    color: @col-lg;
  }
}

html,
body {
  font-family: "Montserrat Regular", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.4;
}

.container {
  max-width: 800px;
  width: 95%;
  margin: 5px auto;
}

.box1,
.box3 {
  width: 43%;
  height: 10%;
  margin: 20px 2.5%;
  //color: white;
  //display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;

  .btn {
    width: 100%;
    margin: 20px 0px 20px 0px;
    font-size: 2rem;
    border-radius: 10px;
    background: navy;
    text-align: -webkit-center;

    .login {
      margin: 0;

      background: teal;

      width: 70%;
      height: 60%;
      color: yellow;
      display: flex;
      padding: 12px;
      vertical-align: bottom;
      text-decoration: none;
      font-size: 2rem;
    }
    &:hover {
      background: green;
      .login {
        background: blue;
      }
    }
  }
}
.dk-btn {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  font-size: 1.5rem;
}
